html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.wrapper {
        position: relative;
      }
.image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 200px;
        height: 200px;
      }